<section class="show-videos">
  <div class="show-videos-content">
    <ul class="show-videos-content__nav">
      <li><%= link_to "speakers", "#" %></li>
      <li><%= link_to "videos", "#" %></li>
      <li><%= link_to "photos", "#" %></li>
    </ul>

    <div class="show-videos-content__videos">
      <% @videos.youtube_links.each do |link| %>
        <div class="card">
          <%= youtube_embed_code(link).html_safe %>
          <p class="card__name"><%= youtube_title(link) %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
