<section class="events">

  <div class="view-port">
    <div class="slider-wrapper">
      <% @events.each do |event| %>
        <div class="events-content">
          <%= link_to "Minsk.rb #{event.title}", event_speakers_path(event), class: "events-content__link"  %>
          <div class="events-content__date"><%= l(event.start_at) %></div>
          <div class="events-content__shedule">
            <% event.event_items.each do |item| %>
              <div class="item">
                <p><b><%= item.title %></b> &mdash; <%= item.speaker_name unless item.speaker_name.blank? %></p>
              </div>
            <% end %>
          </div>
          <div class="events-content__links">
            <%= link_to event_photos_path(event) do %>
              <%= content_tag(:i, '', class: "icon fas fa-camera") %>
              <span><%= event.images&.size %></span>
            <% end %>
            <%= link_to event_videos_path(event) do %>
              <%= content_tag(:i, '', class: "icon fas fa-video") %>
              <span><%= event.videos&.size %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="events-selector">
    <div class="events-selector-scroll">
      <div class="events-selector-scroll__up"><</div>
      <div class="events-selector-scroll__scroll">Scroll</div>
      <div class="events-selector-scroll__down">></div>
    </div>
    <div class="events-selector-count">1</div>
  </div>
</section>
