<div class="contact_us" id="contact_us">
  <h1>Contact Us_</h1>
  <%= form_tag(contact_us_path, method: "post", remote: true, authenticity_token: true) do %>
    <%= text_field_tag "name", "", placeholder: "Name", class: "contact_us-form__input", maxlength: 50 %>
    <%= email_field_tag "email", "", placeholder: "Email *", class: "contact_us-form__input", maxlength: 50 %>
    <%= text_area_tag "message", "", placeholder: "Type your message here *", class: "contact_us-form__input", maxlength: 256 %>
    <%= submit_tag "send message", class: "contact_us-form__submit" %>
  <% end %>
</div>
