<section class="announcement">
  <div class="announcement-item">
    <p class="announcement-item__time"><%= l(@event.start_at) %></p>
    <p class="announcement-item__dash"></p>
    <h3 class="announcement-item__title" alt="Minsk.rb <%= @event.title %>">
      Minsk.rb <%= @event.title %>
    </h3>
    <div class="announcement-item__organization">
      <%= @event.place_title %> / <%= @event.place_cordinate %>
    </div>
    <%= link_to "register", "https://t.me/minskrbbot", class: "button btn", target: "_blank" %>
    <%= link_to "View details", "#event", class: "announcement-item__link" %>
  </div>
</section>
