<section class="announcement">
  <div class="announcement-item">
    <ul class="announcement-item__shared">
      <%= link_to "Facebook", "https://www.facebook.com/groups/minsk.rb", target: "_blank" %>
      <%= link_to "Youtube", "https://www.youtube.com/channel/UCzZpyYSnff-NsjR4TbbBCiw", target: "_blank" %>
      <%= link_to "Vkontakte", "https://vk.com/bsuiror", target: "_blank" %>
    </ul>
    <p class="announcement-item__time"><%= @event.start_at.strftime("%d %b  %H-%M") %></p>
    <p class="announcement-item__dash"></p>
    <h3 class="announcement-item__title" alt=<%= "Minsk.rb " + @event.title %>>
      Minsk.rb <%= @event.title %>
    </h3>
    <div class="announcement-item__organization">
      <%= @event.place_title %>
    </div>
    <button class="btn">register</button>
    <%= link_to "View details", "#event", class: "announcement-item__link" %>
  </div>
</section>
