<section class="announcement">
  <div class="announcement-item">
    <ul class="announcement-item__shared">
      <%= link_to "Facebook", "#" %>
      <%= link_to "Youtube", "#" %>
      <%= link_to "Vkontakte", "#" %>
    </ul>
    <p class="announcement-item__time">26 Oct  19-00</p>
    <p class="announcement-item__dash"></p>
    <h3 class="announcement-item__title" alt="Minsk.rb Beer Up!">
      <%= "Minsk.rb Beer Up!" %></h3>
    <div class="announcement-item__organization">
      EventSpace.by  /    Oktyabrskaya str. 16a, Minsk
    </div>
    <button class="btn">register</button>
    <%= link_to "View deatils", "#event", class: "announcement-item__link" %>
  </div>
</section>
