<section class="show-photos">
  <div class="show-photos-content">
    <ul class="show-photos-content__nav">
      <li><%= link_to "speakers", "#" %></li>
      <li><%= link_to "videos", "#" %></li>
      <li><%= link_to "photos", "#" %></li>
    </ul>

    <div class="show-photos-content__photos">
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
      <%= image_tag asset_pack_path('components/show-photos/static/man.png'), class: "card__photo" %>
    </div>
  </div>
</section>
