<section class="follow_us">
  <h3>Follow Us_</h3>
  <div class="follow_us-social">
    <%= link_to content_tag(:i, "", class: "icon fab fa-github"), "#", class: "follow_us-social__link" %>
    <%= link_to content_tag(:i, "", class: "icon fab fa-facebook-square"), "#", class: "follow_us-social__link" %>
    <%= link_to content_tag(:i, "", class: "icon fab fa-vk"), "#", class: "follow_us-social__link" %>
    <%= link_to content_tag(:i, "", class: "icon fab fa-twitter"), "#", class: "follow_us-social__link" %>
    <%= link_to content_tag(:i, "", class: "icon fab fa-youtube"), "#", class: "follow_us-social__link" %>
  </div>
</section>
