<section class="follow_us">
  <h3>Follow Us_</h3>
  <div class="follow_us-social">
    <%= link_to_social(:minskrb, :github, true, 'follow_us-social__link') %>
    <%= link_to_social(:minskrb, :facebook, true, 'follow_us-social__link') %>
    <%= link_to_social(:minskrb, :vk, true, 'follow_us-social__link') %>
    <%= link_to_social(:minskrb, :twitter, true, 'follow_us-social__link') %>
    <%= link_to_social(:minskrb, :youtube, true, 'follow_us-social__link') %>
  </div>
</section>
