<header class="header" id="header">
  <%= link_to image_tag(asset_pack_path('components/header/static/logo.svg'), class: "header-logo"), root_path %>
  <ul class="header-nav">
    <li class="header-nav-item">
      <%= link_to "Events", events_all_path, class: "header-nav-item__link #{active_if :events}" %>
    </li>
    <li class="header-nav-item">
      <%= link_to "Friends", friends_path, class: "header-nav-item__link #{active_if :friends}" %>
    </li>
    <li class="header-nav-item">
      <%= link_to "About", about_index_path, class: "header-nav-item__link #{active_if :about}" %>
    <li class="header-nav-item">
      <%= link_to "Contact Us", contact_us_path, class: "header-nav-item__link #{active_if :contact_us}" %>
    </li>
  </ul>
  <%= image_tag asset_pack_path('components/header/static/menu.svg'), class: "burger" %>
  <%= yield %>
</header>
