<header class="header">
    <%= image_tag asset_pack_path('components/header/static/logo.svg'), class: "logo" %>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "Events", class: "nav-item_link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Friends", class: "nav-item_link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", class: "nav-item_link" %>
      <li class="nav-item">
        <%= link_to "Contact Us", class: "nav-item_link" %>
      </li>
    </ul>
</header>
